/* style untuk petualanga.html */

/* body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('begron.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  color: #000000;
  margin: 2rem;
  padding: 10px;
  text-align: center;
}
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

main section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main section h2 {
  margin-top: 0;
}
/* akhir body */

/* footer */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 5px 0;
}
/* akhir footer */